# ignore spectra & data files everywhere - they are big
**/*.fits
**/*.h5
**/*.hdf5

# python
**/*.pyc

notes/

# ignore built report for now
*.pdf

project_report/illustrative_diagrams/snr_variation_2.svg
project_report/illustrative_diagrams/snr_variation_3.svg